<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME IS ON !</title>
</head>
<body>
    <h1>Welcome <%= @name %> Lets Start !</h1>
    <form action="/result" method="post">
    <input type="radio" name="choice" value="rock">Rock
    <input type="radio" name="choice" value="paper">Paper
    <input type="radio" name="choice" value="scissors">Scissors
        
    <input type="submit" value="Submit"> 

</body>
</html>