<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinatra</title>
</head>
<body>
    <h1>Welcome to Rock Paper Scissors game !</h1>

    <form action="/getstarted" method="post">
        <label for="text">Name: </label>
        <input type="text" name="name" placeholder="Enter your Name" required="required">
        
        <input type="submit" value="Submit"> 

    </form>
</body>
</html>
