<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinatra</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to Rock Paper Scissors game !</h1>
    <div class="form-group">
    <form action="/getstarted" method="post">
        <div class="form-container">
        <input type="text" name="name" placeholder="Enter your Name" required="required">
        </div>

        <div class="form-container">
        <input type="text" name="rounds" placeholder="How many rounds do you want to play ?"required="required">
        </div>
    </div>
    <div class="form-submit">
        <br><input type="submit" value="Submit"> 
    </div>
    </form>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

    <h2>LETS PLAY !</h2>
   
        <img src="images/home.jpg" height="200" width="200" alt="" class="image" >
        <img src="images/scissors.png" height="200" width="200" alt="" class="image">
        <img src="images/home2.jpg" height="200" width="200" alt="" class="image">
    
</body>
</html>
